body{
	margin: 0px auto;
	width:980px;
	/*max-width: 100%;*/
}
#sidebar-first {
	width: 13%;
	margin-right: 1.5%;
		margin-left: 1.5%;
	vertical-align: top;
display: inline-block;
 }
.node-type-students #sidebar-first ,
.page-students  #sidebar-first {
	width: 15%;
}
header div.section{
/*
    max-width: 1290px;
*/
}
#page-title{
	margin-top: unset;
}
#sidebar-first .block {
	margin-bottom: 1em;
}
#content{
		margin-bottom: .2em;
}
.not-front nav.bottom{
		margin-top: 3em !important;;
}
.sidebar-first #content,
.sidebar-first #sidebar-first {	
	display: inline-block;
}
nav#main-menu.top{
		margin-bottom: 2.5em;
}
.not-front #content{
	width : 70%;
	display: inline-block;
	margin: 0 auto;
}
.node-type-conferences #content,
.page-conference #content {
	width:unset;
}
.not-front.no-sidebars #content{
	display: block;
}
footer#bottom .block > .content,
footer#footer .block > .content,
.no-sidebars #content .block > .content{
	margin-left: 1em;
	margin-right: 1em;
}
.not-front.no-sidebars #content .block > .content{
	margin-left: unset;
	margin-right: unset;
}

.region-content >  h2 {
	margin-top : 0px;
	margin-bottom: 0.7em;
	margin-left:1em;
	text-transform: capitalize; 
	
}
footer .block > h2 ,
#content .block > h2 {
	padding-top: 0.7em; 
	margin-top: 0px;
  margin-left:  1em;
  margin-right: 1em;
    
}
.not-front footer #block-webform-client-block-4 h2{
	padding-top: .3em !important;;
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}
.not-front .region-footer .block > h2 {
	width: 14%;
	float: left;
}
	.not-front .region-footer  .webform-submit{
	position: relative !important;;
	}
	
.block#block-bean-traveling-courses h2 {
	margin-left: unset !important;
		padding : unset !important;
}
.region-footer-under-menu{
    padding: .7em 0px 1.4em;
}
.region-footer-under-menu .block:last-of-type{
    margin-bottom: unset;
}
#block-block-2{
position: absolute;
right : 0px;
top : 1em;
z-index:9;

}
.front #block-block-2{
	top : 1.2em;
}

.front .region-footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
#block-bean-traveling-courses .content{
	margin : unset !important;;
}
