.view-news .views-field-created .wrap > div{overflow:hidden;position:relative;}
.view-news .views-field-created{
	width: 5em;
	padding-right: 2em;
/*
	font-weight : bold;
*/
	text-align:left;
	line-height: 1.1em;
/*
	letter-spacing:-2px;
*/
	color:white;word-spacing:1000px;
}
.view-news .views-field-created .wrap{
	font-weight : bold;
}
.view-news.view-display-id-page_1 .views-field-created{
	padding-right: 0em;
	width:4em;
}
.view-news.view-display-id-page_1{
	margin-bottom: 4em;
}
.view-news .views-field-created .numbers{
   font-size:1.2em;line-height:1em;
}
.view-news .views-field-created .text{
    font-size:1.2em;line-height:1.2em;
}
.view-news .views-field-body .field-content{vertical-align:bottom;display:table-cell !important;}
.view-news a{
text-decoration:none;color:inherit;

}
.view-news.view-display-id-page_1 .moreInfo{
/* 	-webkit-transform: translateY(-100%); */
/* 	        transform: translateY(-100%); */
	padding-left:unset;
	position: absolute;
	right:10px;bottom: 10px;
}
.view-news.view-display-id-page_1 td.views-field-body{
	vertical-align: middle !important;
	
}
.view-news.view-display-id-page_1 p:first-child{
margin-top: 0px !important;;
/* } */
/* .view-news.view-display-id-page_1 p:last-child{ */
	margin-bottom : 0px !important;;
}
.view-news .views-field-edit-node {
	position: absolute;
top: 0px;
right: 0px;
box-shadow: 2px 1px 6px -1px black;
width: 40px;
text-align: center;
background: white;
border-radius: 2px;
}
.view-news .views-field-edit-node tr{position:relative;}
/*
.view-news .views-field-edit-node{
position:absolute;left:-50px;top:0px;
}
*/
#sidebar-first .view-news .views-field-created{
	margin-bottom:1em;
}

.view-news tbody,
.view-news tr,
.view-news td,
.view-news table{
	border:0px solid white;
	background-color : unset;
}
.view-news table{
	width : 100%;
}

.view-news.view-display-id-page_1 .views-field-body{
	border-bottom: 1px solid #999;
	padding : 1em 0px;
 }

.view-news tr:last-of-type{
    padding-bottom: unset;
}
.views-field-created .wrap{
text-align:center;border-radius:50%;
background:#000;height: 3.5em;
width: 3.5em;display:table-cell;
vertical-align:middle;position:relative;}
.moreInfo{
	text-align: right;
}
.moreInfo{
	background-repeat: no-repeat;
	
	  height: 24px;
	    width: 24px;
}
#sidebar-first .view-news .views-row {
	display: none;
}
#sidebar-first .view-news .view-content >h3 + .views-row{
display : block;
}
#sidebar-first .view-news .views-row a{
	color : black;
}
#sidebar-first .view-news .view-content >h3{
	font-size: .9em;
	color: inherit;
	display: none;
}
#sidebar-first .view-news .view-header {
	font-weight: bold;
	color: 	#E01809;
	

}
